//fonts
$font: "Segoe UI";

//colors
$dark-blue: #143d6d;
$darker-blue: #103158;
$yellow: #ffb019;
$white: white;
$light-gray: rgba(160, 160, 160, 0.2);
$dark-grey: #a0a0a0;
$blue-grey: #ECF0F3;
$light-blue-gray: #E8ECF1;

.main-page{
    height: calc(100vh - 186.1px);
  }
  
  
  //responsiveness
  
  @media screen and (max-width: 1400px) {
    .auth-pages{
      .container-mini-right{
        background-image: url('../../../public/auth.svg');
        background-size: cover;
        border-radius: 0px 30px 30px 0px;
      }
      // .container-mini-left{
      //   //width: 100%;
        
      // }
      .cards{
        border-radius: 30px 0px 0px 30px;
      }
      .img{
        display: none;
      }
    }
  
    .home-page{
      .phone1-img{
        width: 90% !important;
      }
    }
  }
  
  @media screen and (max-width: 1370px){
    .home-page{
      .background{
  
        .header{
  
          h1{
            width: 80%;
          }
  
          p{
            width: 80%;
          }
        }
  
      }
    }
  }
  
  @media screen and (max-width: 1200px) {
    .home-page{
      .text {
          h2 {
            font-size: 50px !important;
            color: $darker-blue;
            font-weight: bold;
            padding-top: 50px !important;
          }
  
          p{
            width: 80% !important;
            font-size: 18px !important;
          }
      }
  
      .light-yellow-img {
        width: 100%;
        height: 35% !important;
      }
    }
  }
  
  @media screen and (max-width: 1190px){
    .home-page{
      .background{
  
        .header{
  
          h1{
            width: 90%;
          }
  
          p{
            width: 90%;
          }
        }
  
      }
    }
  } 
  
  @media screen and (max-width: 1060px){
    .home-page{
      .background{
  
        .header{
  
          h1{
            width: 95%;
          }
  
          p{
            width: 90%;
          }
        }
  
      }
    }
  } 
  
  @media screen and (max-width: 1006px){
    .home-page{
      .background{
  
        .header{
  
          h1{
            width: 100%;
          }
  
          p{
            width: 90%;
          }
        }
  
      }
    }
  } 
  
  @media screen and (min-width: 992px) and (max-width: 1200px){
    .send-request{
      width: 132px;
      height: 35px;
    }
  }
  
  @media screen and (min-width: 992px){
    .pick-container{
      display: flex !important;
      justify-content: flex-end !important;
    }
  }
  
  @media screen and (max-width: 992px){
  
    .home-page{
      .background{
      height: 100vh !important;
  
      .header-row{
        height: 100%;
  
        .header{
  
          h1{
            width: 70%;
          }
  
          p{
            width: 80%;
          }
        }
      }
      
  
      .yellow-img{
        height: calc(100vh * 0.5) !important;
        background-image: url('../../../public/yellow.png');
        background-size: cover;
  
        .header{
          margin-top: 0;
  
          .first{
            padding-top: 80px;
          }
        }
      }
  
      .header-img{
        height: calc(100vh * 0.5) !important;
        background-image: url('../../../public/header.png');
        background-size: cover;
      } 
  
    }
    .text {
          h2 {
            font-size: 46px !important;
            color: $darker-blue;
            font-weight: bold;
            padding-top: 40px !important;
          }
  
          p{
            margin-top: 20px !important;
            width: 100% !important;
            font-size: 16px !important;          
            line-height: 24px !important;
          }
      }
  
      .light-yellow-img {
        width: 100%;
        height: 25% !important;
      }
    }
  
    .home-nav{
      height: calc(100vh * 0.5);
  
      .nav-container{
        height: 100%;
  
        .test{
          height: 100%;
          width: 100vw;
        }
      }
  
      svg{
        width: 195px;
        height: 90px;
      }
    }
    
    .arrow{
      transform: rotate(90deg);
      margin-bottom: -100px;
    }
  
    .auth-pages{
      .container-mini-right{
        display: none;
      }
      .container-mini-left{
        width: 80%;
        
      }
      .cards{
        border-radius: 30px 30px 30px 30px;
      }
    }
  
    .pickride-page{
      .card{
        border: 1px solid white;
        border-radius: 20px 20px 0 0;
      }
    }
  
  }
  
  @media screen and (max-width: 768px) {
  
    .home-page{
      .background{
  
        .header{
          margin-top: 0;
  
          h1{
            font-size: 65px;
            width: 80% !important;
          }
  
          p{
            width: 80% !important;
          }
  
          .first{
            padding-top: 60px !important;
          }
        }
  
      }
      .text {
          h2 {
            font-size: 38px !important;
            color: $darker-blue;
            font-weight: bold;
            padding-top: 30px !important;
          }
  
          p{
            margin-top: 16px !important;
            width: 100% !important;
            font-size: 16px !important;          
            line-height: 22px !important;
          }
      }
  
      .light-yellow-img {
        width: 100%;
        height: 25% !important;
      }
  
      .phone1-img{
        width: 110% !important;
      }
      
    }
  
    .home-nav{
  
      svg{
        width: 165px;
        height: 76px;
      }
    }
  
    .rides{
      a{
        svg{
          width: 133px;
          height: 36px;
        }
      }
    }
  
    .main-page{
      height: calc(100vh - 215.1px);
    }
  }
  
  @media screen and (max-width: 576px) {
    .rides{
      a{
        svg{
          width: 112px;
          height: 30px;
        }
      }
    }
  
    .main-page{
      svg{
        width: 160px;
        height: 225px;
      }
    }
  
    .home-page{
      .text {
          h2 {
            text-align: center;
            font-size: 36px !important;
            width: 90%;
            color: $darker-blue;
            font-weight: bold;
            padding-top: 30px !important;
          }
  
          p{
            margin-top: 20px !important;
            width: 100% !important;
            font-size: 14px !important;          
            line-height: 24px !important;
          }
      }
  
      .light-yellow-img {
        width: 100%;
        height: 30% !important;
      }
    }
  }
  
  @media screen and (max-width: 500px) {
    .home-page{
      .background{
  
        .header{
          margin-top: 0;
  
          h1{
            font-size: 57px;
          }
  
          .first{
            padding-top: 60px !important;
          }
        }
  
      }
    }
  
    .home-nav{
  
      .logo{
        width: 200px;
      }
      svg{
        width: 140px;
        height: 64px;
      }
    }
  }
  
  @media screen and (max-width: 480px) {
  
    .home-page{
      .background{
  
        .header{
          margin-top: 0;
  
          h1{
            font-size: 50px;
          }
  
          .first{
            padding-top: 60px !important;
          }
        }
  
      }
  
      .text {
  
          p{
            margin-top: 12px !important;
            width: 100% !important;
            font-size: 12px !important;          
            line-height: 18px !important;
          }
      }
  
      .phone1-img{
        width: 120% !important;
      }
    }
  
    .rides{
      .profile-pic {
        height: 55px !important;
      }
      .details{
        font-size: 10px !important;
        font-weight: bold !important;
      }
  
      .name{
        color: $dark-blue;
        font-size: 18px !important;
        font-weight: bold !important;
      }
      a{
        svg{
          width: 96px;
          height: 26px;
        }
      }
    }
  
    .pickride-page{
      h1{
        font-size: 36px;
      }
  
      .main-container {
        padding: 0 5%;
      }
  
      .inputs {
        select {
          font-size: 18px;
        }
  
        .location-btn {
          font-size: 18px;
        }
  
      }
  
      .arrow-container{
        padding-left: 0 !important;
      }
  
      .send-request{
          width: 132px;
          height: 35px;
        }
  
    }
  
    .create-trip{
      h1{
        font-size: 36px;
      }
  
      .main-container {
        padding: 0 5%;
      }
  
      .inputs {
        select {
          font-size: 18px;
        }
  
        .location-btn {
          font-size: 18px;
        }
  
      }
  
      .arrow-container{
        padding-left: 0 !important;
      }
  
      .send-request{
          width: 132px;
          height: 35px;
        }
  
    }
  
    .logo{
      width: 100%;
    }
    
    .main-page{
      height: calc(100vh - 230.11px);
    }
  }
  
  @media screen and (max-width: 420px){
    .home-page{
      .background{
  
        .header{
          margin-top: 0;
  
          h1{
            width: 80%;
          }
  
          p{
            width: 80%;
          }
  
          .first{
            padding-top: 60px !important;
          }
        }
  
      }
    }
  
    .home-nav{
      svg{
        width: 120px;
        height: 55px;
      }
    }
  } 
  
  @media screen and (max-width: 370px){
    .home-page{
      .background{
  
        .header{
          margin-top: 0;
  
          h1{
            width: 90% !important;
          }
  
          p{
            width: 90%;
          }
  
          .first{
            padding-top: 60px !important;
          }
        }
  
      }
    }
  } 
  
  @media screen and (max-width: 1200px) {
    .auth-pages{
      .singleIn{
        margin: 5px;
      }
    }
  }
  @media screen and (max-width: 550px) {
    .auth-pages{
      .singleIn{
        //margin: 5px;
        margin-left: -15px;
        box-sizing: border-box !important; 
        width: 60px !important;
        height: 60px !important ;
      }
      .input-row-small{
        margin: 0;
        float: left;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .auth-pages{
    .input-verify{
      width: 100% !important;
    }}
  }
  