//fonts
$font: "Segoe UI";

//colors
$dark-blue: #143d6d;
$darker-blue: #103158;
$yellow: #ffb019;
$white: white;
$light-gray: rgba(160, 160, 160, 0.2);
$dark-grey: #a0a0a0;
$blue-grey: #ECF0F3;
$light-blue-gray: #E8ECF1;

.rides {
  
    .accordion-item{
      border-top: $dark-blue solid 3px;
      border-left: $dark-blue solid 3px;
      border-right: $dark-blue solid 3px;
  
      .accordion-button{
        color: $dark-blue;
        font-size: 24px;
        font-weight: 700;
        background-color: $light-blue-gray;
      }
  
      .accordion-button::after{
        background-image: url("../public/arrow-down-1.svg");
      }
  
      .accordion-body{
        .ride{
          border: $dark-blue solid 1px;
          border-radius: 7px;
          .profile-pic {
            height: 65px;
            border-radius: 50%;
          }
  
          .details{
            color: $dark-blue;
            font-size: 14px;
            font-weight: 500;
          }
  
          .name{
            color: $dark-blue;
            font-size: 22px;
            font-weight: 500;
          }
        }
      }
  
      
    }
  
    .last-item{
      border-bottom: $dark-blue solid 3px;
      
    }
  
  
    
  }
  //responsiveness

@media screen and (max-width: 1400px) {
    .auth-pages{
      .container-mini-right{
        background-image: url('../public/auth.svg');
        background-size: cover;
        border-radius: 0px 30px 30px 0px;
      }
      // .container-mini-left{
      //   //width: 100%;
        
      // }
      .cards{
        border-radius: 30px 0px 0px 30px;
      }
      .img{
        display: none;
      }
    }
  }
  
  @media screen and (min-width: 992px){
    .pick-container{
      display: flex !important;
      justify-content: flex-end !important;
    }
  }
  
  @media screen and (max-width: 992px){
  
    
    .arrow{
      transform: rotate(90deg);
      margin-bottom: -100px;
    }
  
    .auth-pages{
      .container-mini-right{
        display: none;
      }
      .container-mini-left{
        width: 80%;
        
      }
      .cards{
        border-radius: 30px 30px 30px 30px;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .rides{
      a{
        svg{
          width: 133px;
          height: 36px;
        }
      }
    }
  }
  
  @media screen and (max-width: 576px) {
    .rides{
      a{
        svg{
          width: 112px;
          height: 30px;
        }
      }
    }
  }
  
  @media screen and (max-width: 480px) {
    .rides{
      .profile-pic {
        height: 55px !important;
      }
      .details{
        font-size: 10px !important;
        font-weight: bold !important;
      }
  
      .name{
        color: $dark-blue;
        font-size: 18px !important;
        font-weight: bold !important;
      }
      a{
        svg{
          width: 96px;
          height: 26px;
        }
      }
    }
  
    .pickride-page{
      h1{
        font-size: 36px;
      }
  
      .main-container {
        padding: 0 5%;
      }
  
      .inputs {
        select {
          font-size: 18px;
        }
  
        .location-btn {
          font-size: 18px;
        }
  
      }
  
      .arrow-container{
        padding-left: 0 !important;
    }
  
    }
  }
  
  @media screen and (max-width: 1200px) {
    .auth-pages{
      .singleIn{
        margin: 5px;
      }
    }
  }
  @media screen and (max-width: 550px) {
    .auth-pages{
      .singleIn{
        //margin: 5px;
        margin-left: -15px;
        box-sizing: border-box !important; 
        width: 60px !important;
        height: 60px !important ;
      }
      .input-row-small{
        margin: 0;
        float: left;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .auth-pages{
    .input-verify{
      width: 100% !important;
    }}
  }
  @media screen and (max-width: 992px) {
    .setup-page{
      width: 80%;
      height: 90%;
    }
    
  }
  .choose-pic{
    display: none !important;
    
  }
  .on-hov-fun{
    float: left !important;
  }